[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "zlog"]
	path = zlog
	url = https://github.com/HardySimpson/zlog
[submodule "l3"]
	path = l3
	url = https://github.com/undoio/l3
